:root{
  --header-min-height: 130px;
}

.header{
  align-items: center;
  background-color: var(--color-gris);
  display: flex;
  flex-direction: column;
  font-family: 'Bell MT';
  min-height: var(--header-min-height);
  padding: 5px 0 5px;
  position: sticky;
  top: 0;
  z-index: 1;

  .header-container{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    width: 100%;

    .logo-container{
      align-items: baseline;
      display: flex;
      justify-content: center;
      width: 100%;
  
      .logo{
        width: 80%;
      }
    }

    .nav__burguer {
      cursor: pointer;
      display: block;
      position: absolute;
      right: 15px;
      top: 15px;
      width: 20px;
    }
    
    .nav__burguer-line-1, .nav__burguer-line-2, .nav__burguer-line-3 {
      display: block;
      background-color: #222222;
      content: "";
      height: 2px;
      border-radius: 1.5px;
      margin: 4px 0;
      transition: all 0.5s;
    }
    
    .nav__burguer-line-1.active {
      transform: translatey(0px) rotate(30deg);
      background-color: #ee332c;
    }
    
    .nav__burguer-line-2.active {
      transform: translate(0) rotate(135deg);
      background-color: #ee332c;
    }
    
    .nav__burguer-line-3.active {
      transform: translatey(-8px) rotate(-135deg);
      background-color: #ee332c;
    }
  }

  .nav-arrow {
    cursor: pointer;
  } 
}

@media (min-width: 540px){
  .header-container{
    gap: 0;
    justify-content: center;

    .header-contacto{
      margin-bottom: 10px;
    }
  }
}