.header-container{
  align-items: center;
  background-color: rgb(153, 185, 134);
  display: flex;
  height: 80px;
  justify-content: space-around;
  padding: 10px 10vw;

  .logo-container{
    display: flex;
    align-items: center;

    .logo{
      border-radius: 50%;
      height: 70px;
      margin-right: 20px;
      width: 70px;
    }

    .title{
      margin-bottom: 10px;
    }
  }

  .nav__burguer {
    width: 30px;
    display: block;
    cursor: pointer;
  
    .nav__burguer-line-1, .nav__burguer-line-2, .nav__burguer-line-3 {
      display: block;
      background-color: #222222;
      content: "";
      height: 4px;
      border-radius: 3px;
      margin: 4px 0;
      transition: all 0.5s;
    }
    
    .nav__burguer-line-1.active {
      transform: translatey(0px) rotate(30deg);
      background-color: #ee332c;
    }
    
    .nav__burguer-line-2.active {
      transform: translate(0) rotate(135deg);
      background-color: #ee332c;
    }
    
    .nav__burguer-line-3.active {
      transform: translatey(-8px) rotate(-135deg);
      background-color: #ee332c;
    }
  }  
}