.footer-container{
  background-color: var(--color-gris);
  color: var(--color-coral);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  padding: 35px 10vw 20px;

  .logo-footer-container{
    justify-content: center;
    display: flex;

    .logo-footer{
      width: 80%;
    }
  }

  .data-container{

    .footer__data__list{
      display: flex;
      flex-direction: column;
    }
  }
}
