.footer-container{
  background-color: #524a3a;
  color: #eae2d6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  padding: 35px 10vw 20px;

  .logo-footer-container{
    justify-content: center;
    display: flex;

    .logo-footer{
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
  }

  .data-container{

    .footer-title{
      margin-bottom: 20px;
      text-align: center;
    }

    .footer__data__list{
      display: flex;
      flex-direction: column;
    }
  }
    
}
