.image-slider {
  width: 80vw;
  height: 200px;
  background-position: center;
  background-size: cover;

}

.data-slider {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: space-around;
  position: relative;
  top: -40px;

  .data-slider__list {
    display: flex;
    align-items: center;

    .slider__home-icon {
      color: white;
      height: 20px;
      margin-left: 5px;
    }
  }
}